<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sos.sosintimea"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/fond1"
        android:label="SosInTime"
        android:roundIcon="@drawable/fond1"
        android:supportsRtl="true"
        android:theme="@style/Theme.SosInTimeA">


        <activity android:name=".Login"></activity>
        <activity android:name=".Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".test">

        </activity>

        <activity android:name=".ValidateActivity">

        </activity>

        <activity android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"
            android:label="About me"/>


        <activity android:name=".ProfilActivity"
            tools:ignore="Instantiatable,WrongManifestParent">

        </activity>


<activity android:name=".ParamètresActivity"
    tools:ignore="Instantiatable,MissingClass,WrongManifestParent">

</activity>


    </application>
</manifest>